/* General Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* Title */
.title {
    margin-top: 120px;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-weight: 100;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navbar h1
{
    color: #ffffff;
    font-family: fantasy;
    margin-left: 30px;
    font-weight: 100;
}
.navbar a 
{
    font-family: fantasy;
    padding: 9px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;
}
.navbar a:hover
{
    color: gray;
    font-size: 21px;
}
.content
{
    margin: 0 auto;
    max-width: 810px;
    width: 90%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1
{
    text-align: center;
    color: #ffffff;
    font-family: fantasy;
    font-weight: 50;
    padding-top: 15px;
}
.list
{
    color: #ffffff;
    /*border: 1px solid white;*/
}
.list th
{
    /*border: 1px solid white;*/
}
.list td
{
    /*border: 1px solid white;*/
    padding: 100px;
}
.list td img
{
    margin: 0 auto;
    max-width: 810px;
    width: 90%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}
.list td img:hover
{
    background-color: #ffffff;
    border-radius: 10px;
}
.list tr th
{
    padding-top: 20px;
    font-size: 40px;
}