/* General Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* Title */
.Title {
    text-align: center;
    font-family: cursive;
    margin-top: 100px;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    margin-top: 10px;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navbar h1
{
    color: #ffffff;
}