.Title
{
    text-align: center;
    font-family: cursive; /*the main font*/
    margin-top: 100px;
    font-weight: bold;
    font-size: 90px;
}
.navbar
{
    overflow: hidden;
    position: fixed;
    top: 0%; /*put it above on the very top*/
    width: 100%; /*full width*/
    font-family: cursive;
    background-color: black;
    z-index: 100; /*ensure it is above everything*/

}
.navbar a
{
    float: left;
    display: block;
    color: aliceblue;
    padding: 14px 15px;
    text-decoration: none;

}

.navbar a:hover
{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: white;
}
.navbar h1
{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 0px;
}
.parallelogram
{
    width: 458px;
    height: 250px;
    transform: skew(10deg);/*to make it parallelogram*/    position: relative;
    border: 3px solid #000000;
    margin-left: auto;
    margin-right: auto;
}
.button1
{
    width: 150px;
    height: 250px;
    background-color: #000000;
    z-index: 1;
}
.button1:hover
{
    background-color: aliceblue;
}
.button2
{
    width: 150px;
    height: 250px;
    background-color: #000000;
    z-index: 1;
}
.button2:hover
{
    background-color: aliceblue;

}
.button3
{
    width: 150px;
    height: 250px;
    background-color: #000000;
    z-index: 1;
}
.button3:hover
{
    background-color: aliceblue;
}

.square
{
    width: 800px;
    height: 500px;
    border: 3px solid #1e0000 ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #000000;
}
.square:hover
{
    background-color: rgb(18, 0, 0);
}
.menu 
{
    padding-left: 35px;
    color: white;
    font-family: cursive;
}
.menu h1:hover
{
    color: rgb(187, 187, 187);
}
.menu h2:hover
{
    color: rgb(178, 178, 178);
}
.search
{
    text-align: center;
    margin-bottom: 50px;
}
.search input 
{
    height: 15px;
    width: 250px;
    margin-left: 15px;
}
.search-h2
{
    font-family: cursive;
}
.maps
{
    text-align: center;
    margin-top: 50px;
}
.maps h1
{
    font-family: cursive;

}
.map-square
{
    border: 10px solid black;
}